In [7]:
# Import necessary libraries
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Check what files exist in the current directory
print("Files in the current directory:", os.listdir())

# Check if the files exist in the expected path
sb_path = "sb environmental conditions data export.csv"
catapult_path = "catapult environmental conditions data export.csv"
matching_table_path = "wta_tournament_matchingtable_bt.csv"

print(f"Smartabase Exists: {os.path.exists(sb_path)}")
print(f"Catapult Exists: {os.path.exists(catapult_path)}")
print(f"Matching Table Exists: {os.path.exists(matching_table_path)}")

Files in the current directory: ['.git', 'catapult environmental conditions data export.csv', 'README.md', 'sb environmental conditions data export.csv', 'WTA_cleaning.ipynb', 'wta_tournament_matchingtable_bt.csv']
Smartabase Exists: True
Catapult Exists: True
Matching Table Exists: True

In [8]:
# Load datasets
sb_data = pd.read_csv(sb_path)
catapult_data = pd.read_csv(catapult_path)
matching_table = pd.read_csv(matching_table_path)

# Display first few rows
print("âœ… Smartabase Data Sample:")
display(sb_data.head())

print("\nâœ… Catapult Data Sample:")
display(catapult_data.head())

print("\nâœ… Tournament Matching Table Sample:")
display(matching_table.head())

# Show dataset shapes
print(f"\nSmartabase Shape: {sb_data.shape}")
print(f"Catapult Shape: {catapult_data.shape}")
print(f"Matching Table Shape: {matching_table.shape}")

âœ… Smartabase Data Sample:

,Date,Date of Session,Day of Session,Month of Session,Numerical Value of Month,Year,Date_c,Epoch,Date Reverse,Week,...,AQI Reading,EWCR,Completion Status,Tournament Name,Tournament Year,Tournament Number,Tournament Surface,Tournament Level,event-uuid,group-uuid
0,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,1.735600e+12,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,2025.0,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615
1,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,NaN,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,NaN,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615
2,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,NaN,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,NaN,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615
3,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,NaN,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,NaN,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615
4,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,NaN,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,NaN,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615

âœ… Catapult Data Sample:

,Date,Key Field,Date And Time,Days Of Week,End Date:,End Date And Time,Heat Stress Record Label,Heat Stress Tournament,Label,Months,...,Time Of Heat Reading,Heat Stress Index,Heat Rule In/out,Air Temperature,Ground Temperature,Relative Humidity,Type Of Day,AQI Reading,event-uuid,group-uuid
0,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,10:30:00,29.4,Out,33.8,44.7,42.6,Sunny,152.0,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32
1,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,12:30:00,30.3,In,35.5,44.1,43.0,Sunny,152.0,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32
2,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,14:30:00,32.2,In,36.6,47.8,41.5,Sunny,152.0,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32
3,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,15:00:00,31.1,In,34.4,44.6,48.2,Sunny,NaN,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32
4,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,17:30:00,24.5,Out,27.8,26.9,68.9,Sunny,107.0,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32

âœ… Tournament Matching Table Sample:

,id,label,status,external_string,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1.0,2020 - ACAPULCO,scheduled,1002,NaN,NaN,NaN,NaN
1,2.0,2020 - DOHA,scheduled,1003,NaN,NaN,NaN,NaN
2,3.0,2020 - RABAT,scheduled,1005,NaN,NaN,NaN,NaN
3,4.0,2020 - NEW YORK,scheduled,1017,NaN,NaN,NaN,NaN
4,5.0,2019 - BEIJING,scheduled,1020,NaN,NaN,NaN,NaN

Smartabase Shape: (1636, 31)
Catapult Shape: (3718, 31)
Matching Table Shape: (346, 8)

In [9]:
# Standardize date format
sb_data["Date"] = pd.to_datetime(sb_data["Date"], errors='coerce')
catapult_data["Date"] = pd.to_datetime(catapult_data["Date"], errors='coerce')

# Check date format conversion
print("\nâœ… Smartabase Date Format:")
print(sb_data["Date"].head())

print("\nâœ… Catapult Date Format:")
print(catapult_data["Date"].head())

âœ… Smartabase Date Format:
0   2024-12-31
1   2024-12-31
2   2024-12-31
3   2024-12-31
4   2024-12-31
Name: Date, dtype: datetime64[ns]

âœ… Catapult Date Format:
0   2024-10-02
1   2024-10-02
2   2024-10-02
3   2024-10-02
4   2024-10-02
Name: Date, dtype: datetime64[ns]

C:\Users\samer\AppData\Local\Temp\ipykernel_33640\3108201204.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  sb_data["Date"] = pd.to_datetime(sb_data["Date"], errors='coerce')

In [13]:
# Rename columns for consistency in merging
sb_data.rename(columns={"Tournament Name": "Tournament", "Tournament Year": "Year"}, inplace=True)
catapult_data.rename(columns={"Heat Stress Tournament": "Tournament", "Years": "Year"}, inplace=True)

# Verify updated column names
print("\nâœ… Updated Smartabase Columns:", sb_data.columns.tolist())
print("\nâœ… Updated Catapult Columns:", catapult_data.columns.tolist())

âœ… Updated Smartabase Columns: ['Date', 'Date of Session', 'Day of Session', 'Month of Session', 'Numerical Value of Month', 'Year', 'Date_c', 'Epoch', 'Date Reverse', 'Week', 'Entered On', 'Index', 'WTA Tournament', 'Log Date', 'Match Start Time', 'Time of Reading', 'WBGT', 'Air Temperature (TA)', 'Black Globe Temperature (Globe Temp)', 'Relative Humidity', 'Type of Day', 'AQI Reading', 'EWCR', 'Completion Status', 'Tournament', 'Year', 'Tournament Number', 'Tournament Surface', 'Tournament Level', 'event-uuid', 'group-uuid']

âœ… Updated Catapult Columns: ['Date', 'Key Field', 'Date And Time', 'Days Of Week', 'End Date:', 'End Date And Time', 'Heat Stress Record Label', 'Tournament', 'Label', 'Months', 'Start Date:', 'Start Date And Time', 'Template Label', 'Weeks', 'Year', 'EWR - Suspension Or Change In Time', 'Heat Reading Log - EWR Cause Change', 'Suspension/Change Match Date', 'Reason For Suspension/adaptation Of Start Time', 'Heat Stress Date', 'Heat Stress Match Start Time', 'Time Of Heat Reading', 'Heat Stress Index', 'Heat Rule In/out', 'Air Temperature', 'Ground Temperature', 'Relative Humidity', 'Type Of Day', 'AQI Reading', 'event-uuid', 'group-uuid']

In [16]:
# Rename the duplicate "Year" column in Smartabase
sb_data.rename(columns={"Year": "Year_sb"}, inplace=True)

# Rename the duplicate "Year" column in Catapult
catapult_data.rename(columns={"Year": "Year_catapult"}, inplace=True)

# Verify the updated column names
print("\nâœ… Updated Smartabase Columns:", sb_data.columns.tolist())
print("\nâœ… Updated Catapult Columns:", catapult_data.columns.tolist())

âœ… Updated Smartabase Columns: ['Date', 'Date of Session', 'Day of Session', 'Month of Session', 'Numerical Value of Month', 'Year_sb', 'Date_c', 'Epoch', 'Date Reverse', 'Week', 'Entered On', 'Index', 'WTA Tournament', 'Log Date', 'Match Start Time', 'Time of Reading', 'WBGT', 'Air Temperature (TA)', 'Black Globe Temperature (Globe Temp)', 'Relative Humidity', 'Type of Day', 'AQI Reading', 'EWCR', 'Completion Status', 'Tournament', 'Year_sb', 'Tournament Number', 'Tournament Surface', 'Tournament Level', 'event-uuid', 'group-uuid']

âœ… Updated Catapult Columns: ['Date', 'Key Field', 'Date And Time', 'Days Of Week', 'End Date:', 'End Date And Time', 'Heat Stress Record Label', 'Tournament', 'Label', 'Months', 'Start Date:', 'Start Date And Time', 'Template Label', 'Weeks', 'Year_catapult', 'EWR - Suspension Or Change In Time', 'Heat Reading Log - EWR Cause Change', 'Suspension/Change Match Date', 'Reason For Suspension/adaptation Of Start Time', 'Heat Stress Date', 'Heat Stress Match Start Time', 'Time Of Heat Reading', 'Heat Stress Index', 'Heat Rule In/out', 'Air Temperature', 'Ground Temperature', 'Relative Humidity', 'Type Of Day', 'AQI Reading', 'event-uuid', 'group-uuid']

In [17]:
merged_data = sb_data.merge(
    catapult_data, 
    on="Tournament", 
    how="outer", 
    suffixes=("_sb", "_catapult")
)

print("\nâœ… Merged Data Sample:")
display(merged_data.head())

# Check if merge was successful
print(f"\nTotal Rows: {merged_data.shape[0]}, Unique Tournaments: {merged_data['Tournament'].nunique()}")

âœ… Merged Data Sample:

,Date_sb,Date of Session,Day of Session,Month of Session,Numerical Value of Month,Year_sb,Date_c,Epoch,Date Reverse,Week,...,Time Of Heat Reading,Heat Stress Index,Heat Rule In/out,Air Temperature,Ground Temperature,Relative Humidity_catapult,Type Of Day,AQI Reading_catapult,event-uuid_catapult,group-uuid_catapult
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14:00:00,22.6,Out,23.2,35.0,20.0,Sunny,NaN,67acd904-6b3f-42b4-8193-c0072e2d1197,5d55d609-6b95-4ec3-ad0d-08a0c1f9e38c
1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9:30:00,18.8,Out,22.7,36.9,20.9,Sunny,27.0,67acd904-6b3f-42b4-8193-c0072e2d1197,5d55d609-6b95-4ec3-ad0d-08a0c1f9e38c
2,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12:00:00,19.8,Out,25.3,39.1,14.0,Sunny,NaN,67acd904-6b3f-42b4-8193-c0072e2d1197,5d55d609-6b95-4ec3-ad0d-08a0c1f9e38c
3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14:00:00,18.4,Out,27.9,35.3,8.0,Sunny,35.0,67acd904-6b3f-42b4-8193-c0072e2d1197,5d55d609-6b95-4ec3-ad0d-08a0c1f9e38c
4,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9:30:00,20.4,Out,24.1,38.9,23.8,Sunny,NaN,67acd904-6b3f-42b4-8193-c0072e2d1197,5d55d609-6b95-4ec3-ad0d-08a0c1f9e38c

Total Rows: 5353, Unique Tournaments: 279

In [18]:
print(f"âœ… Smartabase Shape: {sb_data.shape}")
print(f"âœ… Catapult Shape: {catapult_data.shape}")
print(f"âœ… Merged Shape: {merged_data.shape}")

âœ… Smartabase Shape: (1636, 31)
âœ… Catapult Shape: (3718, 31)
âœ… Merged Shape: (5353, 61)