In [66]:
import pandas as pd

# Load the datasets
catapult = pd.read_csv("catapult environmental conditions data export.csv")
smartabase = pd.read_csv("sb environmental conditions data export.csv")
matching_table = pd.read_csv("wta_tournament_matchingtable_bt.csv")

# Display the first few rows of each to confirm structure
print("Catapult:")
display(catapult.head())

print("Smartabase:")
display(smartabase.head())

print("Tournament Matching Table:")
display(matching_table.head())

Catapult:

,Date,Key Field,Date And Time,Days Of Week,End Date:,End Date And Time,Heat Stress Record Label,Heat Stress Tournament,Label,Months,...,Time Of Heat Reading,Heat Stress Index,Heat Rule In/out,Air Temperature,Ground Temperature,Relative Humidity,Type Of Day,AQI Reading,event-uuid,group-uuid
0,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,10:30:00,29.4,Out,33.8,44.7,42.6,Sunny,152.0,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32
1,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,12:30:00,30.3,In,35.5,44.1,43.0,Sunny,152.0,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32
2,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,14:30:00,32.2,In,36.6,47.8,41.5,Sunny,152.0,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32
3,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,15:00:00,31.1,In,34.4,44.6,48.2,Sunny,NaN,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32
4,10/02/2024,45332118545332.5440509259Mumbai 202429.444.742...,10.02.2024 13:03:26,6,2/10/2024,NaN,Mumbai 2024,2024 - MUMBAI 125,Mumbai 2024,2024-02,...,17:30:00,24.5,Out,27.8,26.9,68.9,Sunny,107.0,c32672e9-ee29-4a64-89a0-f37d9cfd4a10,6d13baa4-f447-4422-b78c-e2fc546c2a32

Smartabase:

,Date,Date of Session,Day of Session,Month of Session,Numerical Value of Month,Year,Date_c,Epoch,Date Reverse,Week,...,AQI Reading,EWCR,Completion Status,Tournament Name,Tournament Year,Tournament Number,Tournament Surface,Tournament Level,event-uuid,group-uuid
0,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,1.735600e+12,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,2025.0,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615
1,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,NaN,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,NaN,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615
2,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,NaN,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,NaN,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615
3,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,NaN,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,NaN,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615
4,31/12/2024,12-31-2024,Tue,Dec,12,2024,31/12/2024,NaN,31/12/2024,52,...,NaN,OUT,Complete,2025 - AUCKLAND 250,NaN,1049.0,HARD,250,669fd615-d8fd-40c1-855c-e4953b3ac20d,3ed459c1-852a-4bba-9824-b493a1571615

Tournament Matching Table:

,id,label,status,external_string,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1.0,2020 - ACAPULCO,scheduled,1002,NaN,NaN,NaN,NaN
1,2.0,2020 - DOHA,scheduled,1003,NaN,NaN,NaN,NaN
2,3.0,2020 - RABAT,scheduled,1005,NaN,NaN,NaN,NaN
3,4.0,2020 - NEW YORK,scheduled,1017,NaN,NaN,NaN,NaN
4,5.0,2019 - BEIJING,scheduled,1020,NaN,NaN,NaN,NaN

In [67]:
# Check column names and non-null counts to understand structure
print("Catapult columns:")
print(catapult.columns)

print("\nSmartabase columns:")
print(smartabase.columns)

print("\nMatching table columns:")
print(matching_table.columns)

Catapult columns:
Index(['Date', 'Key Field', 'Date And Time', 'Days Of Week', 'End Date:',
       'End Date And Time', 'Heat Stress Record Label',
       'Heat Stress Tournament', 'Label', 'Months', 'Start Date:',
       'Start Date And Time', 'Template Label', 'Weeks', 'Years',
       'EWR - Suspension Or Change In Time',
       'Heat Reading Log - EWR Cause Change', 'Suspension/Change Match Date',
       'Reason For Suspension/adaptation Of Start Time', 'Heat Stress Date',
       'Heat Stress Match Start Time', 'Time Of Heat Reading',
       'Heat Stress Index', 'Heat Rule In/out', 'Air Temperature',
       'Ground Temperature', 'Relative Humidity', 'Type Of Day', 'AQI Reading',
       'event-uuid', 'group-uuid'],
      dtype='object')

Smartabase columns:
Index(['Date', 'Date of Session', 'Day of Session', 'Month of Session',
       'Numerical Value of Month', 'Year', 'Date_c', 'Epoch', 'Date Reverse',
       'Week', 'Entered On', 'Index', 'WTA Tournament', 'Log Date',
       'Match Start Time', 'Time of Reading', 'WBGT', 'Air Temperature (TA)',
       'Black Globe Temperature (Globe Temp)', 'Relative Humidity',
       'Type of Day', 'AQI Reading', 'EWCR', 'Completion Status',
       'Tournament Name', 'Tournament Year', 'Tournament Number',
       'Tournament Surface', 'Tournament Level', 'event-uuid', 'group-uuid'],
      dtype='object')

Matching table columns:
Index(['id', 'label', 'status', 'external_string', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [68]:
# Standardize environmental metric column names
catapult_renamed = catapult.rename(columns={
    "Heat Stress Index": "WBGT",
    "Heat Rule In/Out": "EWCR"
})

smartabase_renamed = smartabase.copy()  # Already uses WBGT, AQI Reading, and EWCR

# Ensure both datasets have matching variable names
common_columns = ["Tournament Name", "Year", "Date", "Time", "WBGT", "AQI Reading", "EWCR"]

# If there are formatting differences in column names (e.g., spaces), we will clean them later

In [69]:
# Select and rename relevant columns from Catapult
catapult_cleaned = catapult[[
    "Heat Stress Tournament", "Years", "Heat Stress Date",
    "Time Of Heat Reading", "Heat Stress Index", "AQI Reading",
    "Heat Rule In/out", "Air Temperature", "Relative Humidity", "Type Of Day"
]].rename(columns={
    "Heat Stress Tournament": "Tournament Name",
    "Years": "Year",
    "Heat Stress Date": "Date",
    "Time Of Heat Reading": "Time",
    "Heat Stress Index": "WBGT",
    "Heat Rule In/out": "EWCR",
    "Air Temperature": "Air Temperature",
    "Relative Humidity": "Relative Humidity",
    "Type Of Day": "Type of Day"
})

In [70]:
# Select and rename relevant columns from Smartabase
smartabase_cleaned = smartabase[[
    "Tournament Name", "Tournament Year", "Log Date", "Time of Reading",
    "WBGT", "AQI Reading", "EWCR", "Air Temperature (TA)",
    "Relative Humidity", "Type of Day"
]].rename(columns={
    "Tournament Year": "Year",
    "Log Date": "Date",
    "Time of Reading": "Time",
    "Air Temperature (TA)": "Air Temperature"
})

In [71]:
# Strip and lower-case for easy matching
catapult_cleaned["EWCR"] = catapult_cleaned["EWCR"].str.strip().str.upper()
smartabase_cleaned["EWCR"] = smartabase_cleaned["EWCR"].str.strip().str.upper()

# Normalize catapult EWCR values to match Smartabase format
catapult_cleaned["EWCR"] = catapult_cleaned["EWCR"].replace({
    "IN": "IN – MODIFICATION OF PLAY",
    "OUT": "OUT"
})

In [72]:
# Merge both datasets (row-wise concatenation)
merged_env_data = pd.concat([catapult_cleaned, smartabase_cleaned], ignore_index=True)

# Confirm merge success
print("Merged environmental dataset shape:", merged_env_data.shape)
display(merged_env_data[:20])

Merged environmental dataset shape: (5354, 10)

,Tournament Name,Year,Date,Time,WBGT,AQI Reading,EWCR,Air Temperature,Relative Humidity,Type of Day
0,2024 - MUMBAI 125,2024.0,2/06/2024,10:30:00,29.4,152.0,OUT,33.8,42.6,Sunny
1,2024 - MUMBAI 125,2024.0,2/06/2024,12:30:00,30.3,152.0,IN – MODIFICATION OF PLAY,35.5,43.0,Sunny
2,2024 - MUMBAI 125,2024.0,2/06/2024,14:30:00,32.2,152.0,IN – MODIFICATION OF PLAY,36.6,41.5,Sunny
3,2024 - MUMBAI 125,2024.0,2/06/2024,15:00:00,31.1,NaN,IN – MODIFICATION OF PLAY,34.4,48.2,Sunny
4,2024 - MUMBAI 125,2024.0,2/06/2024,17:30:00,24.5,107.0,OUT,27.8,68.9,Sunny
5,2024 - MUMBAI 125,2024.0,2/07/2024,11:30:00,30.3,122.0,IN – MODIFICATION OF PLAY,33.6,44.9,Sunny
6,2024 - MUMBAI 125,2024.0,2/07/2024,13:30:00,30.3,136.0,IN – MODIFICATION OF PLAY,35.0,50.2,Sunny
7,2024 - MUMBAI 125,2024.0,2/07/2024,15:00:00,30.2,165.0,IN – MODIFICATION OF PLAY,34.8,51.1,Sunny
8,2024 - MUMBAI 125,2024.0,2/07/2024,17:30:00,24.4,122.0,OUT,28.9,55.0,Sunny
9,2024 - MUMBAI 125,2024.0,2/08/2024,12:30:00,30.2,95.0,IN – MODIFICATION OF PLAY,35.9,40.6,Sunny
10,2024 - MUMBAI 125,2024.0,2/08/2024,15:30:00,30.2,99.0,IN – MODIFICATION OF PLAY,34.9,46.8,Sunny
11,2024 - MUMBAI 125,2024.0,2/08/2024,17:30:00,25.5,126.0,OUT,29.1,55.6,Sunny
12,2024 - MUMBAI 125,2024.0,2/09/2024,14:00:00,30.4,93.0,IN – MODIFICATION OF PLAY,35.3,38.2,Sunny
13,2024 - MUMBAI 125,2024.0,2/09/2024,16:00:00,30.1,97.0,IN – MODIFICATION OF PLAY,33.6,39.0,Sunny
14,2024 - MUMBAI 125,2024.0,2/09/2024,18:00:00,22.6,82.0,OUT,26.6,60.0,Sunny
15,2024 - MUMBAI 125,2024.0,2/10/2024,14:00:00,30.2,156.0,IN – MODIFICATION OF PLAY,36.3,42.5,Sunny
16,2024 - MUMBAI 125,2024.0,2/10/2024,16:00:00,25.9,NaN,OUT,30.9,NaN,Sunny
17,2024 - MUMBAI 125,2024.0,2/11/2024,18:00:00,21.0,94.0,OUT,24.8,59.2,Partial Clouds
18,2024 - MUMBAI 125,2024.0,2/03/2024,10:30:00,26.4,161.0,OUT,30.7,37.3,Sunny
19,2024 - MUMBAI 125,2024.0,2/03/2024,12:30:00,25.3,NaN,OUT,33.2,31.2,Sunny

In [73]:
import pandas as pd
import re

def extract_tournament_info(tournament_name):
    if isinstance(tournament_name, str):
        match = re.match(r"^(\d{4})\s*-\s*(.+?)(?:\s+(\d{3,4}))?$", tournament_name.strip())
        if match:
            year = int(match.group(1))
            name = match.group(2).strip()
            level = match.group(3).strip() if match.group(3) else None
            return pd.Series([year, name, level])
    return pd.Series([None, tournament_name, None])  # fallback for NaN or non-string

# Apply safely to extract year, city, and level
merged_env_data[["Extracted Year", "Tournament City", "Tournament Level"]] = merged_env_data["Tournament Name"].apply(extract_tournament_info)

# Fill missing years where applicable
merged_env_data["Year"] = merged_env_data["Year"].fillna(merged_env_data["Extracted Year"])

# Drop temporary helper column
merged_env_data.drop(columns=["Extracted Year"], inplace=True)

# Preview the cleaned data
display(merged_env_data[["Tournament Name", "Year", "Tournament City", "Tournament Level"]][:10000])

        Tournament Name    Year Tournament City Tournament Level
0     2024 - MUMBAI 125  2024.0          MUMBAI              125
1     2024 - MUMBAI 125  2024.0          MUMBAI              125
2     2024 - MUMBAI 125  2024.0          MUMBAI              125
3     2024 - MUMBAI 125  2024.0          MUMBAI              125
4     2024 - MUMBAI 125  2024.0          MUMBAI              125
...                 ...     ...             ...              ...
5349       2024 - DUBAI  2024.0           DUBAI             None
5350       2024 - DUBAI  2024.0           DUBAI             None
5351       2024 - DUBAI  2024.0           DUBAI             None
5352                NaN     NaN             NaN              NaN
5353                NaN     NaN             NaN              NaN

[5354 rows x 4 columns]

In [74]:
# Make a clean version of the tournament city column by removing levels like 125, 250, etc.
merged_env_data["Cleaned City"] = (
    merged_env_data["Tournament City"]
    .astype(str)
    .str.replace(r"\s*\d{3,4}(?:\s*#\d+)?", "", regex=True)
    .str.replace(r"#\d+", "", regex=True)
    .str.strip()
)

In [75]:
# Strip off " GS" if it appears at the end
merged_env_data["Cleaned City"] = merged_env_data["Cleaned City"].str.replace(r"\s+GS$", "", regex=True)

In [76]:
# Use a function to map non-city tournaments based on year
def map_special_city(row):
    name = row["Cleaned City"]
    year = row["Year"]

    if name == "WTA FINALS":
        return {
            2021: "GUADALAJARA",
            2022: "FORT WORTH",
            2023: "CANCUN"
        }.get(year, "UNKNOWN")  # fallback to UNKNOWN

    if name == "OLYMPICS":
        return {
            2021: "TOKYO",
            2024: "Paris"
        }.get(year, "UNKNOWN")  # update for future Olympics as needed

    if name == "UNITED CUP":
        return "SYDNEY"

    if name in ["US OPEN", "US OPEN GS"]:
        return "NEW YORK"
    
    if name in ["WIMBLEDON", "WIMBLEDON GS"]:
        return "LONDON"
    
    if name in ["ROLAND GARROS", "ROLAND GARROS GS"]:
        return "PARIS"
    
    if name == "AUSTRALIAN OPEN":
        return "MELBOURNE"

    return name  # default fallback is the cleaned city itself

# Apply the function to create the mapped city column
merged_env_data["Mapped City"] = merged_env_data.apply(map_special_city, axis=1)

In [77]:
# See a few unique results to confirm mapping worked
display(
    merged_env_data[["Tournament City", "Cleaned City", "Mapped City", "Year"]]
    .drop_duplicates()
    .sort_values("Mapped City")
    .head(20)
)

     Tournament City Cleaned City  Mapped City    Year
42         ABU DHABI    ABU DHABI    ABU DHABI  2024.0
1608       ABU DHABI    ABU DHABI    ABU DHABI  2023.0
3698       ABU DHABI    ABU DHABI    ABU DHABI  2021.0
1705     ADELAIDE #1     ADELAIDE     ADELAIDE  2022.0
2864        ADELAIDE     ADELAIDE     ADELAIDE  2022.0
1681     ADELAIDE #2     ADELAIDE     ADELAIDE  2023.0
97          ADELAIDE     ADELAIDE     ADELAIDE  2024.0
3674        ADELAIDE     ADELAIDE     ADELAIDE  2021.0
3743        ADELAIDE     ADELAIDE     ADELAIDE  2025.0
5183         ANTALYA      ANTALYA      ANTALYA  2024.0
3718        AUCKLAND     AUCKLAND     AUCKLAND  2025.0
1718        AUCKLAND     AUCKLAND     AUCKLAND  2022.0
137         AUCKLAND     AUCKLAND     AUCKLAND  2023.0
96          AUCKLAND     AUCKLAND     AUCKLAND  2024.0
5286          AUSTIN       AUSTIN       AUSTIN  2024.0
1533          AUSTIN       AUSTIN       AUSTIN  2023.0
2412     BAD HOMBURG  BAD HOMBURG  BAD HOMBURG  2022.0
3349     BAD HOMBURG  BAD HOMBURG  BAD HOMBURG  2021.0
1098     BAD HOMBURG  BAD HOMBURG  BAD HOMBURG  2023.0
4627     BAD HOMBURG  BAD HOMBURG  BAD HOMBURG  2024.0

In [78]:
merged_env_data

,Tournament Name,Year,Date,Time,WBGT,AQI Reading,EWCR,Air Temperature,Relative Humidity,Type of Day,Tournament City,Tournament Level,Cleaned City,Mapped City
0,2024 - MUMBAI 125,2024.0,2/06/2024,10:30:00,29.4,152.0,OUT,33.8,42.6,Sunny,MUMBAI,125,MUMBAI,MUMBAI
1,2024 - MUMBAI 125,2024.0,2/06/2024,12:30:00,30.3,152.0,IN – MODIFICATION OF PLAY,35.5,43.0,Sunny,MUMBAI,125,MUMBAI,MUMBAI
2,2024 - MUMBAI 125,2024.0,2/06/2024,14:30:00,32.2,152.0,IN – MODIFICATION OF PLAY,36.6,41.5,Sunny,MUMBAI,125,MUMBAI,MUMBAI
3,2024 - MUMBAI 125,2024.0,2/06/2024,15:00:00,31.1,NaN,IN – MODIFICATION OF PLAY,34.4,48.2,Sunny,MUMBAI,125,MUMBAI,MUMBAI
4,2024 - MUMBAI 125,2024.0,2/06/2024,17:30:00,24.5,107.0,OUT,27.8,68.9,Sunny,MUMBAI,125,MUMBAI,MUMBAI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5349,2024 - DUBAI,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],DUBAI,None,DUBAI,DUBAI
5350,2024 - DUBAI,2024.0,02-23-2024,7:00 PM,20.2,NaN,OUT,22.8,73.1,[],DUBAI,None,DUBAI,DUBAI
5351,2024 - DUBAI,2024.0,02-24-2024,6:30 PM,21.5,120.0,OUT,24.4,70.2,[Humid],DUBAI,None,DUBAI,DUBAI
5352,NaN,NaN,12/11/2023,9:30 AM,18.0,22.0,OUT,17.0,35.0,[Cloudy],NaN,NaN,nan,nan
5353,NaN,NaN,12/11/2023,12:00 PM,15.0,22.0,OUT,17.0,35.0,[Cloudy],NaN,NaN,nan,nan

In [79]:
level_map = {
    ('DOHA', 2024): '1000',
    ('ABU DHABI', 2024): '500',
    ('HUA HIN', 2024): '250',
    ('HOBART', 2024): '250',
    ('AUCKLAND', 2024): '250',
    ('ADELAIDE', 2024): '500',
    ('AUCKLAND', 2023): '250',
    ('UNITED CUP', 2023): '500',
    ('BRISBANE', 2023): '500',
    ('WTA FINALS', 2023): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('ZHUHAI', 2023): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('MONASTIR', 2023): '250',
    ('NANCHANG', 2023): '250',
    ('ZHENGZHOU', 2023): '500',
    ('HONG KONG', 2023): '250',
    ('SEOUL', 2023): '500',
    ('BEIJING', 2023): '1000',
    ('NINGBO', 2023): '500',
    ('TOKYO', 2023): '500',
    ('GUADALAJARA', 2023): '500',
    ('GUANGZHOU', 2023): '250',
    ('SAN DIEGO', 2023): '500',
    ('OSAKA', 2023): '250',
    ('US OPEN', 2023): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('CLEVELAND', 2023): '250',
    ('CINCINNATI', 2023): '1000',
    ('MONTREAL', 2023): '1000',
    ('WASHINGTON DC', 2023): '500',
    ('PRAGUE', 2023): '250',
    ('LAUSANNE', 2023): '250',
    ('WARSAW', 2023): '250',
    ('HAMBURG', 2023): '250',
    ('PALERMO', 2023): '250',
    ('BUDAPEST', 2023): '250',
    ('WIMBLEDON', 2023): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('EASTBOURNE', 2023): '500',
    ('BAD HOMBURG', 2023): '250',
    ('BIRMINGHAM', 2023): '250',
    ('BERLIN', 2023): '500',
    ('NOTTINGHAM', 2023): '250',
    ("S'HERTOGENBOSCH", 2023): '250',
    ('RABAT', 2023): '250',
    ('STRASBOURG', 2023): '250',
    ('ROME', 2023): '1000',
    ('MADRID', 2023): '1000',
    ('CHARLESTON', 2023): '500',
    ('BOGOTA', 2023): '250',
    ('MIAMI', 2023): '1000',
    ('INDIAN WELLS', 2023): '1000',
    ('AUSTIN', 2023): '250',
    ('MONTERREY', 2023): '500',
    ('MÉRIDA', 2023): '500',
    ('DUBAI', 2023): '1000',
    ('DOHA', 2023): '1000',
    ('ABU DHABI', 2023): '500',
    ('HUA HIN', 2023): '250',
    ('HOBART', 2023): '250',
    ('ADELAIDE #2', 2023): '500',
    ('ADELAIDE #1', 2022): '500',
    ('AUSTRALIAN OPEN', 2022): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('US OPEN', 2022): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('WIMBLEDON', 2022): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('ROLAND GARROS', 2022): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('WTA FINALS', 2021): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('AUSTRALIAN OPEN', 2021): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('US OPEN GS', 2024): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('OLYMPICS', 2024): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('WIMBLEDON GS', 2024): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
    ('ROLAND GARROS GS', 2024): 'GRAND SLAMS/WTA FINALS/ BJK CUP',
}

# Apply the mapping
merged_env_data["Tournament Level"] = merged_env_data.apply(
    lambda row: level_map.get((row["Tournament City"], row["Year"])),
    axis=1
)

In [80]:
merged_env_data.to_csv("Merged_WTA_Env.csv")

In [86]:
import pandas as pd

# List of your CSV files
file_paths = [
    "data/Merged_WTA_Env_with_region.csv",
    "data/Merged_WTA_Env.csv"
]

for file in file_paths:
    print(f"Processing: {file}")
    
    # Load the dataset
    df = pd.read_csv(file)

    # Replace 'Tournament City' with values from 'Mapped City'
    df['Tournament City'] = df['Mapped City']

    # Drop the extra columns
    df.drop(columns=['Cleaned City', 'Mapped City'], inplace=True, errors='ignore')

    # Save the updated version
    df.to_csv(file, index=False)
    print(f"Updated and saved: {file}\n")

Processing: data/Merged_WTA_Env_with_region.csv
Updated and saved: data/Merged_WTA_Env_with_region.csv

Processing: data/Merged_WTA_Env.csv
Updated and saved: data/Merged_WTA_Env.csv

In [87]:
# Reiterate through the same files to drop any 'Unnamed' columns
for file in file_paths:
    print(f"🧽 Cleaning unnamed columns in: {file}")
    
    df = pd.read_csv(file)

    # Drop columns starting with 'Unnamed'
    unnamed_cols = [col for col in df.columns if col.startswith("Unnamed")]
    df.drop(columns=unnamed_cols, inplace=True)

    # Save the cleaned data
    df.to_csv(file, index=False)
    print(f"✅ Dropped {len(unnamed_cols)} unnamed columns from: {file}\n")

🧽 Cleaning unnamed columns in: data/Merged_WTA_Env_with_region.csv
✅ Dropped 2 unnamed columns from: data/Merged_WTA_Env_with_region.csv

🧽 Cleaning unnamed columns in: data/Merged_WTA_Env.csv
✅ Dropped 1 unnamed columns from: data/Merged_WTA_Env.csv